
.app{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.app_thunderstorm{
  background-image: url('../../images/background/thunderstorm.jpg');
}

.app_drizzle{
  background-image: url('../../images/background/drizzle.jpg');
}

.app_rain{
  background-image: url('../../images/background/rain.jpg');
}

.app_snow{
  background-image: url('../../images/background/snowfall.jpg');
}

.app_mist{
  background-image: url('../../images/background/mist.jpg');
}

.app_smoke{
  background-image: url('../../images/background/smoke.jpg');
}

.app_haze{
  background-image: url('../../images/background/haze.jpg');
}

.app_dust{
  background-image: url('../../images/background/dust.jpg');
}

.app_fog{
  background-image: url('../../images/background/fog.jpg');
}

.app_sand{
  background-image: url('../../images/background/sand.jpg');
}

.app_ash{
  background-image: url('../../images/background/volcano.jpg');
}

.app_squall{
  background-image: url('../../images/background/squall.jpg');
}

.app_tornado{
  background-image: url('../../images/background/tornado.jpg');
}

.app_clear{
  background-image: url('../../images/background/clear_1.jpg');
}

.app_clouds{
  background-image: url('../../images/background/cloudy.jpg');
}
